page-home {
    .tickets{
        text-align:center;
        color: green;
        font-size: 16px;
        font-weight: bold;
    }
    .status {
        font-weight: bold;
        text-align: center;
    }
    .title {

        font-weight: bold;
       
    }
    .card {
        background: hsl(0, 0%, 86%);
        
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
        margin-bottom:40px;
    }
    .teste1{
        background:red;
    }
    .teste2{
        background:green;
    }
    .slide-zoom{
        height:100%;
    }
    .titleSlide{
        margin-top:50px !important;
    }
    .quantidadePreferenciais{
        border:solid 2px #007979
    }
    .quantidadeNormais{
        border:solid 2px #007979
    }
    .titleTotal{
        color:#007979
    }
    .contentTotal{
        color:grey;
    }
}
