<ion-header>
  <ion-navbar color='secondary'>
    <ion-title>Solicitação de Senhas
    
       
          

      
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item >       
        <ion-label> Preferencial</ion-label>  
        <ion-toggle  checked="false" color="secondary" [(ngModel)] = 'validaPreferencial'></ion-toggle>
       </ion-item> 
       
  <ion-slides pager>
     
    <ion-slide >
        <ion-grid>
            <ion-row>
              <ion-col col-6 class = 'quantidadeNormais'>
                <span class = 'titleTotal'>Normal</span> <br><span class = 'contentTotal'> {{validation}}</span>
               </ion-col>
               <ion-col col-6 class = 'quantidadePreferenciais'>
                  <span class = 'titleTotal'> Preferencial</span> <br><span class = 'contentTotal'> {{validationPreferencial}}</span>
                </ion-col>
              
            </ion-row>
        </ion-grid>

      <h2 class = 'titleSlide'>Firma e Autenticação</h2>
      <button block ion-button  item-left (click) = 'reconhecimentoFirmaAutenticacao()' color='secondary'  [disabled]="validaStatusReconhecimentoFirma !== 'Concluído'">Retirar Senha</button>
          
      <ion-card [ngStyle]= "validaStatusReconhecimentoFirma === 'Aberto' && {'background-color':'green'} ||
                            validaStatusReconhecimentoFirma === 'Em Atendimento' && {'background-color':'red'} ||
                            validaStatusReconhecimentoFirma === 'Concluído' && {'background-color':'blue'}
                            "  >
          <ion-card-header  *ngFor = 'let item of ticketAtualRecochecimentoFirma | async'>
              <h1 class = 'title' >{{item.ticket}} </h1> 
            </ion-card-header>
        <ion-card-content *ngFor = 'let item of ticketAtualRecochecimentoFirma | async' >         
          <h3 class = 'status'>{{item.status}}</h3>
          
        </ion-card-content>
      </ion-card>
    </ion-slide>
 
    <ion-slide >
        <ion-grid>
            <ion-row>
              <ion-col col-6 class = 'quantidadeNormais'>
                <span class = 'titleTotal'>Normal</span> <br><span class = 'contentTotal'> {{validationProcuracao}}</span>
               </ion-col>
               <ion-col col-6 class = 'quantidadePreferenciais'>
                  <span class = 'titleTotal'> Preferencial</span> <br><span class = 'contentTotal'> {{validationProcuracaoPreferencial}}</span>
                </ion-col>
              
            </ion-row>
        </ion-grid>
      <h2 class = 'titleSlide'>Procuração</h2>
      <button block ion-button  item-left (click)  = 'procuracao()' color='secondary'  [disabled]="validaStatusProcuracao !== 'Concluído'">Retirar Senha</button>

      <ion-card>
          <ion-card-header  *ngFor = 'let item of ticketAtualProcuracao | async'>
              <h1 class = 'title'>{{item.ticket}} </h1> 
            </ion-card-header>
        <ion-card-content *ngFor = 'let item of ticketAtualProcuracao | async' >         
          <h3 class = 'status'>{{item.status}}</h3>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  
    <ion-slide >
        <ion-grid>
            <ion-row>
              <ion-col col-6 class = 'quantidadeNormais'>
                <span class = 'titleTotal'>Normal</span> <br><span class = 'contentTotal'> {{validationRegistroCivil}}</span>
               </ion-col>
               <ion-col col-6 class = 'quantidadePreferenciais'>
                  <span class = 'titleTotal'> Preferencial</span> <br><span class = 'contentTotal'> {{validationRegistroCivilPreferencial}}</span>
                </ion-col>
              
            </ion-row>
        </ion-grid>
      <h2 class = 'titleSlide'>Registro civil</h2>
      <button block ion-button  item-left  (click) = ' registroCivil()' color='secondary'  [disabled]="validaStatusRegistroCivil !== 'Concluído'">Retirar Senha</button>

      <ion-card>
          <ion-card-header  *ngFor = 'let item of ticketAtualRegistroCivil | async'>
              <h1 class = 'title'>{{item.ticket}} </h1> 
            </ion-card-header>
        <ion-card-content *ngFor = 'let item of ticketAtualRegistroCivil | async' >         
          <h3 class = 'status'>{{item.status}}</h3>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide >
        <ion-grid>
            <ion-row>
              <ion-col col-6 class = 'quantidadeNormais'>
                <span class = 'titleTotal'>Normal</span> <br><span class = 'contentTotal'> {{validationEscritura}}</span>
               </ion-col>
               <ion-col col-6 class = 'quantidadePreferenciais'>
                  <span class = 'titleTotal'> Preferencial</span> <br><span class = 'contentTotal'> {{validationEscrituraPreferencial}}</span>
                </ion-col>
              
            </ion-row>
        </ion-grid>
        <h2 class = 'titleSlide'>Escritura</h2>
        <button block ion-button  item-left color='secondary' (click) = 'escritura()'  [disabled]="validaStatusEscritura !== 'Concluído'">Retirar Senha</button>

        <ion-card>
          <ion-card-header  *ngFor = 'let item of ticketAtualEscritura | async'>
              <h1 class = 'title'>{{item.ticket}} </h1> 
            </ion-card-header>
        <ion-card-content *ngFor = 'let item of ticketAtualEscritura | async' >         
          <h3 class = 'status'>{{item.status}}</h3>
        </ion-card-content>
      </ion-card>
     

    </ion-slide>
  
  </ion-slides>
</ion-content>
